.app {
  background-color: #1e293b;
  color: white;
  min-height: 100vh;
  font-family: 'Bree Serif', serif;
}

.home {
  text-align: center;
  padding: 20px;
}

.ipl-logo {
  width: 100px;
  margin-bottom: 20px;
}

.home-title {
  font-size: 2rem;
}

.teams-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  background-color: #f7db00;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
  transition: transform 0.3s;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-logo {
  width: 100px;
  height: 100px;
}

.team-name {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #1e293b;
}

.team-matches {
  padding: 20px;
}

.team-banner {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.latest-match-heading, .recent-matches-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.latest-match, .recent-matches-list {
  margin-bottom: 20px;
}

.match-card {
  background-color: #ffffff33;
  padding: 10px;
  margin: 10px;
  border: 1px solid #475569;
  border-radius: 8px;
  text-align: center;
}
